
<% honchos.each do |h| %>
  <!-- Honcho Modal button -->
  <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal<%= i %><%= h.id %>">
      <%= h.name %>
  </button><!-- Honcho Modal button -->

  <%= render 'honchos/show', honcho: h, i: i %>

<% end %>
