

<div class="col-lg-4 tour1 t3">
  <div class="well sidebar-nav">
    <h3>Job Search</h3>

    <!-- jobs from indeed goes here -->
    <form >
      <table width="100%">
        <tr><td class="control-label"><b>what</b></td></tr>
        <tr><td><input id="what" placeholder="job title, keywords" size='35' class="form-control"></td></tr>
        <tr><td class="control-label"><b>where</b></td></tr>
        <tr><td><input id="where" placeholder="city, state, zip" class="form-control"></td></tr>
        <tr ><td style="display:flex;justify-content:center;"><input style="margin-top:10px;width:40%" type=button value="Find Jobs" onclick="open_win()" class="btn btn-default"></td></tr>
      </table>
    </form>

  </div><!--/.well -->
</div>
