<h1>Hi there</h1>

<div id="root">
    embeded area
</div>

<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>

<script>
  var lock = new Auth0Lock('5pGZH82GLB9jeNeGWxWlRglPRnJwo4lm', 'izzy-code.auth0.com');

  lock.show({
      container: 'root'
    , callbackURL: 'http://localhost:3000/auth/auth0/callback'
    , responseType: 'code'
    , authParams: {
      scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
    }
  });
</script>

<%= link_to "LogOut", 'https://izzy-code.auth0.com/v2/logout?returnTo=http://localhost:3000/logout', class:"btn btn-md btn-default" %>
