<div id="job<%=i%>">
  <%= form_for job do |f| %>
    <%= f.select "company_id", Company.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, {class:"form-control", onchange:'this.form.submit();'} %>
  <% end %>
</div>
