/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.panel-heading{
  display: flex;
  justify-content: space-around;
}

.clickable{
  width:20%;
}

.clickable-position{
  width:40%;
}

.big-btn{
 width: 100%;
 overflow:scroll;;
}

.neon-glow {
  animation: neon1 1.5s ease-in-out infinite alternate;

}

@keyframes neon1 {
  from {
    text-shadow: 0 0 0 #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #F16, 0 0 35px #F16, 0 0 40px #F16, 0 0 50px #F16, 0 0 75px #F16;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
