<% job.attempts.each_with_index do |a, indx| %>
  <!-- Company Modal button -->
  <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal<%= i %><%= a.id %>">
      <%= (indx+1).ordinalize %> Time
  </button><!-- Company Modal button -->

  <%= render 'attempts/show', attempt: a, i: i %>

<% end %>
