
<p>
  <strong>Date:</strong>
  <%= attempt.date.strftime("%m/%d/%Y at %I:%M%p") %>
</p>

<p>
  <strong>Medium:</strong>
  <%= attempt.medium %>
</p>

<p>
  <strong>Summary:</strong>
  <%= attempt.summary %>
</p>
